.about {
    background: url(../img/about-bg.jpg) no-repeat center top;
    background-size: cover;
    padding: 40px 0;
    
    &-content {
        width: 50%;
        
        &__title {
            color: white;
            padding-bottom: 10px;
        }
        &__text{ 
            color: $light-text-color;
            font-family: "PT Serif";
            line-height: 24px;
        }
        &__button {
            margin-top: 10px;
            color: white;
        }
    }
}