.consultation {
    padding-bottom: 0 !important;
    & .container {
        position: relative;
    }

    & .section-content {
        display: flex;
    }

    &-form {
        color: $text-color;
        width: 100%;
        display: flex;
        padding-bottom: 40px;

        &-left {
            margin-right: 30px;
            flex-basis: 25%;
        }
        &-right {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            label[name="message"] {
                textarea {
                    height: 185px;
                    resize: none;
                }
            }
            &__button {
                text-align: right;
            }
        }
        &__girl {
            background: url('../img/consultation-girl.jpg') no-repeat bottom center;
            background-size: contain;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 22%;
        }
    }
}