.footer {
    background: #595959;

    &-wrapper {
        display: flex;
        padding: 20px 0;
    }

    &-info {
        flex-basis: 50%;

        &__title{
            color: white;
            line-height: 36px;
            margin-bottom: 20px;
            width: 80%;
        }

        &__text{
            color: $light-text-color;
            margin-bottom: 25px;
            line-height: 18px;
            width: 80%;
        }

        &__button {
            padding: 12px 20px;
            margin-bottom: 20px;
            font-weight: 500;
            background: $accent-color;
            
            @include icomoon-before("\f0b1", #000);
        }

        &__phone{
            @include icomoon-before("\f095", $accent-color);
        }

        &__mail{
            @include icomoon-before("\f003", $accent-color);
        }

        &__address{
            @include icomoon-before("\f041", $accent-color);

        }
    }

    &-map {
        flex-basis: 50%;
        align-self: center;
    }

    &-copy {
        background: #303030;
        text-align: center;
        color: white;
        font-size: 0.9rem;
        padding: 15px 0;
    }
}