.section {
    padding: 60px 0;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__content {
            padding: 0 30px 0 130px;
            position: relative;
            flex-basis: 60%;

            &:before{
                content: '';
                position: absolute;
                width: 100px;
                height: 2px;
                background: $accent-color;
                left: 0;
                margin-top: 1rem;
            }
            &-title{
                font-size: 1.8rem;
                font-weight: 500;
            }
            &-text {
                font-family: "PT Serif";
                line-height: 18px;
                color: $gray-text-color;
                max-width: 50%;
            }
        }

        &__button {
            flex: none;
            margin-right: auto;
        }
    }
}