@mixin icomoon ($content, $color) {
    font-family: 'icomoon';
    content: $content;
    color: $color;
    vertical-align: top;
    width: 15px;
    display: inline-block;
}

@mixin icomoon-before ($content, $color) {
    &:before{
        @include icomoon($content, $color);
        padding-right: 0.7rem;
    }
}